AccessModifierOffset: -4
AlignEscapedNewlinesLeft: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: false
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyRecord: false
BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: false
ColumnLimit: 90
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerBinding: false
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: false
IndentFunctionDeclarationAfterType: false
IndentWidth: 4
TabWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
DerivePointerAlignment: false
PointerAlignment: Left
PenaltyBreakAssignment: 200
PenaltyReturnTypeOnItsOwnLine: 200
ReflowComments: false
SortIncludes: true
SortUsingDeclarations: true
SpacesBeforeTrailingComments: 1
Standard: Cpp11
UseTab: false
SpaceAfterTemplateKeyword: false
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterControlStatementKeyword: true

# Prevent breaking doxygen, as clang-format doesn't support reflowing of doxygen comments yet (as of 7.0.0).
CommentPragmas: '^\*|^/|^!'
