/build/
/dist/
/src/foobar2000_sdk.user.props
/test/

obj/
Debug/
Release/
packages/


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
.vs/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.opendb
