<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="Current">
  <ImportGroup Label="PropertySheets" />
  <PropertyGroup>
    <_PropertySheetDisplayName>foobar2000 sdk (User Config)</_PropertySheetDisplayName>
  </PropertyGroup>
  <PropertyGroup>
    <Foobar2000SdkPath>$(MSBuildThisFileDirectory)..\sdk\</Foobar2000SdkPath>
  </PropertyGroup>
</Project>
